

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  background: #dedcd5;
  font-family: Literata, serif;
  font-size: 12px;
}


.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:100vh;
}
.messages {
  display: flex;
  width: 90%;
  margin: 0 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  max-height: 60%;
  overflow: scroll;
  padding: 5px 0;
  border: 1px solid #221f20;
}
.message-container {
  margin: 5px;
  background: #dedcd5;
  color: #221f20;
  border: 1px solid #221f20;
  border-radius: 0px;
  padding: 5px; 
  max-height: 60%;
  max-width: 40%;
  overflow: scroll;

}
.message-content {
  padding: 0px;
  max-height: 100%;
}
.formContainer {
  width: 80%;
  margin: auto;
  display: flex;
  height: 30%;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;

}
.form-control {
background: #dedcd5;
  color: #221f20;
  border: 1px solid #221f20;
  border-radius: 0px;
}
.btn {
  background: #f5f4ee;
  color: #221f20;
  border: 1px solid #221f20;
  border-radius: 0px;

}
.control-label {
  text-align: left
}
.form-group {
display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

}

.form-group.button-group {
  margin: 0 auto 0 50px;
}

.comments {
  margin-top: 5px;
  width: 100%;
}
.comment {
  border: 1px solid black;
  width: 100%;
  background-color: #ddd5cc;
  padding: 2.5%;
  font-size: 12px;
}













